.App {
  text-align: center;
}
.titleHeading{
  margin-bottom: 20px;
  margin-top: 20px;
}
/* Home css start */
.btnThree{
  margin: 15px 5px;
}
.createUserBtn{
 margin-top: 10px;
 margin-bottom: 25px;
}
/* Home css end */

/* Delete css start */
.deleteBtn{
  margin: 0 5px;
}
/* Delete css end */

/* Read css start */
.read{
  border: 1px solid;
  border-radius: 5px;
  width: 40%;
  margin: auto;
  padding: 20px;
  background-color: rgb(232, 229, 226);

}
.backBtn{
  margin-top: 10px;
}
/* Read css end */

/* Create css start */
.create{
  width: 50%;
  margin: auto;
}
/* Create css end */