.App {
  text-align: center;
}
/* Home css start */
.btnThree{
  margin: 0 5px;
}
.createUserBtn{
 margin-top: 10px;
 margin-bottom: 25px;
}
/* Home css end */

/* Delete css start */
.deleteBtn{
  margin: 0 5px;
}
/* Delete css end */